select.form-control {background-color: #456bd8;color: white;}
 .card.border-left-primary.shadow.h-100.py-2 {cursor: pointer;}
 .card.border-left-success.shadow.h-100.py-2 {cursor: pointer;}
 .card.border-left-warning.shadow.h-100.py-2 {cursor: pointer;}
 .card.border-left-info.shadow.h-100.py-2 {cursor: pointer;}